*.iml
.gradle
/build.*
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/gradle
/captures
.externalNativeBuild
/gradlew
gradle.*
gradlew.*
/settings.gradle
/app/build
/app/libs
/app/*.iml
/app/build.*
/app/*.pro
/app/.externalNativeBuild
/app/src/androidTest
/app/src/test
/app/gradle
/app/src/main/res/drawable
/app/src/main/res/drawable-v24
/app/src/main/res/mipmap-anydpi-v26
/app/src/main/res/mipmap-hdpi
/app/src/main/res/mipmap-mdpi
/app/src/main/res/mipmap-xhdpi
/app/src/main/res/mipmap-xxhdpi
/app/src/main/res/mipmap-xxxhdpi
/app/src/main/res/values